.container {
  margin-top: 150px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.formContainer {
  width: 800px;
  h1 {
    padding-bottom: 25px;
  }
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  .actionButtonsGroup {
    display: flex;
    column-gap: 15px;
  }
  .redirect {
    font-family: var(--sans-serif);
    font-weight: 400;
    font-size: 14px;
    color: var(--purple);
    span {
      font-weight: 600;
    }
    span:hover {
      cursor: pointer;
    }
  }
}

.full-width {
  width: 100%;
}
