<div class="container">
  <div class="formContainer">
    <h1 class="h1">Reset Password</h1>
    <form class="form" (ngSubmit)="resetPassword(form)" #form="ngForm">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="username" [(ngModel)]="email" id="inputEmail" placeholder="Enter login email" required>
          <mat-error *ngIf="!form.controls.username.valid">
            Email is required
          </mat-error>
        </mat-form-field>
        <div *ngIf="!modeIsSendResetEmail()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="password" id="password" placeholder="Password" required>
            <mat-error *ngIf="!form.controls.password.valid">
              Password is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Repeat Password</mat-label>
            <input matInput type="password" name="repeatPassword" [(ngModel)]="passwordRepeat" id="repeat-password" placeholder="Repeat password" required>
            <mat-error *ngIf="!form.controls.repeatPassword.valid">
              Repeated password does not match password
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <button type="submit" class="button darkPurple" [disabled]="!form.valid">
        Reset Password
      </button>
    </form>
    <div class="actionButtons">
      <div class="actionButtonsGroup">
        <div class="redirect">
          Not registered yet? <span routerLink="/registration">Sign Up<span class="material-symbols-rounded">arrow_outward</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
