<br>
<div class="adminPanelHeader">
  <h1 class="h1">Admin Panel</h1>
</div>
<div class="button-list">
  <a class="wide-button" routerLink="/users-list" routerLinkActive="active">View All User Accounts<span
    class="material-symbols-rounded">group</span></a>
  <a class="wide-button" routerLink="/locked-users-list" routerLinkActive="active">View Locked User Accounts<span
    class="material-symbols-rounded">lock</span></a>
  <a class="wide-button" routerLink="/news/create">Create News Entry<span
    class="material-symbols-rounded">post_add</span></a>
  <a routerLink="/events/create" routerLinkActive="active" class="wide-button">Create Event Entry<span
    class="material-symbols-rounded">calendar_add_on</span></a>
  <a class="wide-button" routerLink="/locations" routerLinkActive="active">View All Location Entries<span
    class="material-symbols-rounded">home</span></a>
  <a class="wide-button" routerLink="/locations/create">Create Location Entry<span class="material-symbols-rounded">add_home</span></a>
  <a class="wide-button" routerLink="/registration" routerLinkActive="active">Create
    New User Account<span class="material-symbols-rounded">person_add</span></a>
  <a class="wide-button" routerLink="/seatmap" routerLinkActive="active">View All Seatmaps<span
    class="material-symbols-rounded">
calendar_view_month
</span></a>
  <a class="wide-button" routerLink="/seatmap/create" routerLinkActive="active">Create Seatmap Entry<span
    class="material-symbols-rounded">event_seat</span></a>
</div>
